.search-label{
    width: 100%;
}

.blink{
    animation: blink .8s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}